@import "tailwindcss";

/* Configuration globale pour le projet */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f172a; /* Slate-900 */
  color: white;
  font-family: system-ui, sans-serif;
}